<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ncl.cs.team16.lloydsbankingapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Models.LbgApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".Activities.DictionaryEntryActivity"
            android:label="@string/title_activity_dictionary_entry" >
        </activity>
        <activity
            android:name=".Activities.AddPayeeActivity"
            android:label="@string/title_activity_add_payee"
            android:theme="@android:style/Theme.Holo.Light.Dialog.MinWidth" >
        </activity>
        <activity
            android:name=".Activities.ShopActivity"
            android:label="@string/title_activity_shop" >
        </activity>
    </application>

</manifest>
